<div>
  <form [formGroup]="searchForm" (ngSubmit)="handleSubmit($event)">
    <div class="form-item">
      <label for="title">Search by title:</label>
      <input id="title" type="text" placeholder="Movie Title" formControlName="title" />
    </div>
    
    <div class="form-item">
      <label for="genre">Search by genre:</label>
      <select id="genre" formControlName="genre">
          <option value="">Any</option>
        @for(genre of (genres$ | async); track genre) {
          <option [value]="genre">{{genre}}</option>
        }
      </select>
    </div>

    <button type="submit">Search</button>
    <input type="submit" style="display: none" />
  </form>
</div>
