<div>
  <app-searchbar></app-searchbar>
</div>

@let movies = moviesFeature$ | async;
@if (movies) {
  @if (movies.initial) {
    <div class="big-message">Start a search to see some movies!</div>
  } @else {
    <app-pagination-controls
      [page]="movies.page"
      [pageMax]="movies.pageMax"
      [search]="search"
      [genre]="genre"
    ></app-pagination-controls>

    @if (movies.loading) {
      <div class="big-message">Loading...</div>
    } @else {
      <div>
        <app-movies [movies]="(movies$ | async)"></app-movies>
      </div>

      <app-pagination-controls
        [page]="movies.page"
        [pageMax]="movies.pageMax"
        [search]="search"
        [genre]="genre"
      ></app-pagination-controls>
    }
  }
}